@media (max-width: 992px) {
  .header-section .nav-link::after {
    width: 100%;
    left: 0;
    opacity: 1;
    transform: scaleX(1);
    height: 2px;
  }

  .header-section .offcanvas-body {
    background-color: var(--white);
    padding: 0;
  }
}

@media (max-width: 768px) {
  .hero-section .hero-content h1,
  .hero-section .hero-content h2 {
    font-size: 40px;
  }

  .hero-section .hero-content p {
    font-size: 16px;
  }

  .top-info-bar {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero-section .hero-caption h1,
  .hero-section .hero-caption h2 {
    font-size: 30px;
  }

  .header-section .conatact-btn {
    display: none;
  }

  .breadcrumb-section .breadcrumb-heading h1 {
    font-size: 24px;
  }

  .hero-section .owl-carousel .owl-nav button.owl-next,
  .hero-section .owl-carousel .owl-nav button.owl-prev {
    display: none;
  }

  .about-section .about-content h2,
  .about-section .about-content h2 span,
  .visa-type-section .section-title h2,
  .visa-type-section .section-title h2 span,
  .how-it-works-section .section-title h2,
  .how-it-works-section .section-title h2 span,
  .country-we-offer-section .section-title h2,
  .country-we-offer-section .section-title h2 span,
  .why-choose-section .section-title h2,
  .why-choose-section .section-title h2 .color-text,
  .testimonial-section .section-title h2,
  .testimonial-section .section-title h2 span,
  .business-visa-section .section-title h2 {
    font-size: 30px;
  }

  .why-choose-section .why-choose-list h3 {
    font-size: 18px;
  }

  .why-choose-section .why-choose-list p {
    font-size: 14px;
  }

  .cta-section .cta-content h2 {
    font-size: 30px;
  }

  .country-we-offer-section .country-we-offer-item {
    padding: 5px;
    flex-direction: column;
  }

  .country-we-offer-section .country-we-offer-item h3,
  .country-we-offer-section .country-we-offer-item a {
    font-size: 18px;
  }

  .country-we-offer-section .country-we-offer-item p {
    font-size: 14px;
  }

  .country-we-offer-section .country-we-offer-item .icon,
  .country-we-offer-section .country-we-offer-item img {
    height: 60px;
    width: 60px;
    margin-left: 15px;
  }

  .site-breadcrumb .breadcrumb-title {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .hero-section .hero-content h2,
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
}

@media (max-width: 375px) {
  .hero-section .hero-content h1,
  .hero-section .hero-content h2 {
    font-size: 30px;
  }

  .funfact-section .funfact-item h2 {
    font-size: 20px;
  }

  .funfact-section .funfact-item .icon {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
  .funfact-section .funfact-item p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .business-visa-section .section-title h2,
  .student-visa-section .section-title h2,
  .job-seeker-visa-section .section-title h2,
  .tourist-visa-section .section-title h2,
  .family-visa-section .section-title h2,
  .transit-visa-section .section-title h2,
  .migrate-visa-section .section-title h2,
  .consular-closings-section .section-title h2,
  .diplomatic-visa-section .section-title h2,
  .australia-visa-section .section-title h2,
  .usa-visa-section .section-title h2,
  .united-kingdom-section .section-title h2,
  .canada-visa-section .section-title h2,
  .newzealand-visa-section .section-title h2,
  .branches-section .section-title h2 {
    font-size: 30px;
  }

  .business-visa-section h3,
  .student-visa-section h3,
  .job-seeker-visa-section h3,
  .tourist-visa-section h3,
  .family-visa-section h3,
  .transit-visa-section h3,
  .migrate-visa-section h3,
  .consular-closings-section h3,
  .diplomatic-visa-section h3,
  .australia-visa-section h3,
  .usa-visa-section h3,
  .united-kingdom-section h3,
  .canada-visa-section h3,
  .newzealand-visa-section h3 {
    font-size: 20px;
  }
}
