@media (max-width: 992px) {
  .header-section .nav-link::after {
    width: 100%;
    left: 0;
    opacity: 1;
    transform: scaleX(1);
    height: 2px;
  }

  .header-section .offcanvas-body {
    background-color: var(--white);
    padding: 0;
  }
}

@media (max-width: 768px) {
  .hero-section .hero-content h1,
  .hero-section .hero-content h2 {
    font-size: 40px;
  }

  .hero-section .hero-content p {
    font-size: 16px;
  }

  .top-info-bar {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero-section .hero-caption h1,
  .hero-section .hero-caption h2 {
    font-size: 30px;
  }

  .header-section .conatact-btn {
    display: none;
  }

  .breadcrumb-section .breadcrumb-heading h1 {
    font-size: 24px;
  }

  .hero-section .owl-carousel .owl-nav button.owl-next,
  .hero-section .owl-carousel .owl-nav button.owl-prev {
    display: none;
  }

  .about-section .about-content h2,
  .about-section .about-content h2 span,
  .visa-type-section .section-title h2,
  .visa-type-section .section-title h2 span,
  .how-it-works-section .section-title h2,
  .how-it-works-section .section-title h2 span,
  .country-we-offer-section .section-title h2,
  .country-we-offer-section .section-title h2 span,
  .why-choose-section .section-title h2,
  .why-choose-section .section-title h2 .color-text,
  .testimonial-section .section-title h2,
  .testimonial-section .section-title h2 span {
    font-size: 30px;
  }

  .why-choose-section .why-choose-list h3 {
    font-size: 18px;
  }

  .why-choose-section .why-choose-list p {
    font-size: 14px;
  }

  .cta-section .cta-content h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .hero-section .hero-content h2,
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
}

@media (max-width: 375px) {
  .hero-section .hero-content h1,
  .hero-section .hero-content h2 {
    font-size: 30px;
  }

  .funfact-section .funfact-item h2 {
    font-size: 20px;
  }

  .funfact-section .funfact-item .icon {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
  .funfact-section .funfact-item p {
    font-size: 14px;
  }
}
