/* ====== Colors ====== */
:root {
  /* --primary-color: #00194a; */
  --primary-color: #002d8d;
  --Secondary-color: #ff0a0a;
  --dark: #000000;
  --white: #ffffff;
  --grey: #516263;
  --bg-color: #b9b3b354;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

iframe,
video {
  width: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

::selection {
  background-color: var(--white);
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 12px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--Secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
}

/* body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
} */

/* ====== header-section-start ====== */

/*========== menu bar =========*/

/* Top info bar styles */
.header-section .top-info-bar {
  background-color: var(--primary-color);
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.header-section .top-info-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-section .top-info-bar ul li {
  margin-right: 10px;
}

.header-section .top-info-bar ul li:last-child {
  margin-right: 0;
}

.top-info-bar a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
}

.header-section .social-icons {
  display: flex;
}

.header-section .social-icons li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  color: var(--Secondary-color);
}

.header-section .social-icons li a:hover {
  background-color: var(--Secondary-color);
  color: #fff;
}

.header-section .contact-info {
  display: flex;
  justify-content: flex-end;
}

.header-section .contact-info li a {
  display: flex;
  align-items: center;
}

.header-section .contact-info li a i {
  margin-right: 5px;
}

.header-section .menu-bar {
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}

.header-section .is-sticky-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  animation: slideInDown 0.5s ease-in;
  background-color: var(--white);
}

.header-section .navbar-brand img {
  height: 80px;
}

.header-section .menu-bar .nav-link {
  margin: 0px 5px;
  text-transform: capitalize;
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.header-section .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--Secondary-color);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
  border-radius: 5px;
  z-index: -1;
}

.header-section .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.header-section .navbar-nav .nav-link.active {
  color: var(--primary-color);
}

.header-section .dropdown-menu {
  background-color: var(--white);
  color: var(--dark);
  font-size: 16px;
  font-weight: 600;
  border-radius: 0;
  padding-top: 15px;
  display: none;
  overflow: hidden;
  border: 0;
}

.header-section .dropdown:hover .dropdown-menu {
  display: block;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.103);
}

.header-section .sibar-toggle {
  background-color: var(--white);
  color: var(--primary-color);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
}

.header-section .dropdown-menu .dropdown-item {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-color);
}

.header-section .dropdown i {
  transition: 0.6s;
}

.header-section .dropdown:hover i {
  transform: rotate(180deg);
  transition: 0.6s;
}

.header-section .dropdown-menu .dropdown-item:hover {
  color: var(--white);
  background-color: var(--primary-color);
  animation-duration: 2s;
}

.header-section .navbar-toggler {
  background-color: var(--dark);
  color: var(--white);
  margin: 0px;
  line-height: 28px;
  border-radius: 5px;
  border: none;
  padding: 2px 10px;
  border: 1px solid white;
}

.header-section .offcanvas-header {
  background-color: var(--primary-color);
}

.header-section .navbar-toggler:focus {
  box-shadow: none;
}

.header-section .sibar-toggle {
  background-color: var(--white);
  color: var(--primary-color);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
  font-size: 16px;
  padding: 3px 8px;
}

.header-section .conatact-btn {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  margin: 0px 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.header-section .conatact-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--Secondary-color);
  border-radius: 5px;
  z-index: -1;
  transform: translateX(-100%);
  transition: ease-in-out 0.5s;
}

.header-section .conatact-btn:hover:before {
  color: var(--white);
  transition: ease-in-out 0.5s;
  transform: translateX(0);
}

.header-section .conatact-link {
  color: var(--white);
  background-color: var(--dark);
  padding: 4px 10px;
  border-radius: 5px;
  display: none;
  margin-left: 10px;
  border: 1px solid white;
}

.header-section .offcanvas-header .btn-close {
  color: var(--white);
  opacity: 1;
  background-image: none;
  line-height: 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid white;
  font-size: 16px;
  padding: 6px 8px;
  background-color: var(--dark);
}

/* ====== header-section-end ====== */

/* ====== hero-section-start ====== */

.hero-section {
  text-align: center;
}

.hero-section .hero-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  z-index: 1;
}

.hero-section .hero-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00011d93;
  z-index: -1;
}

.hero-section .hero-content {
  align-items: center;
  padding: 100px 0px;
}

.hero-section .hero-content h1,
.hero-section .hero-content h2 {
  font-size: 70px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Ubuntu Sans", sans-serif;
  text-transform: uppercase;
}

.hero-section .hero-content p {
  font-size: 20px;
  color: var(--white);
  margin-bottom: 20px;
  font-weight: 400;
}

.slide {
  position: relative;
}

.hero-section .owl-carousel .owl-nav button.owl-next {
  height: 45px;
  width: 45px;
  border: 1px;
  background-color: var(--Secondary-color);
  border-radius: 50%;
  font-size: 24px;
  color: var(--white);
  position: absolute;
  right: 25px;
  top: 50%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .owl-carousel .owl-nav button.owl-next i {
  padding-left: 3px;
}

.hero-section .owl-carousel .owl-nav button.owl-prev i {
  padding-right: 3px;
}

.hero-section .owl-carousel .owl-nav button.owl-prev {
  height: 45px;
  width: 45px;
  border: 1px;
  background-color: var(--Secondary-color);
  border-radius: 50%;
  font-size: 24px;
  color: var(--white);
  position: absolute;
  left: 25px;
  top: 50%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .btn {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  margin: 0px 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.hero-section .btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--Secondary-color);
  border-radius: 5px;
  z-index: -1;
  transform: translateX(-101%);
  transition: ease-in-out 0.5s;
}

.hero-section .btn:hover:before {
  color: var(--white);
  transition: ease-in-out 0.5s;
  transform: translateX(0);
}

/* ====== hero-section-end ====== */

/* ====== feature-area-start ====== */

.feature-area {
  padding: 45px 0px;
}

.feature-area .feature-item {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.feature-area .feature-item::before {
  content: "";
  position: absolute;
  background-color: var(--Secondary-color);
  border-radius: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  bottom: -120px;
  right: -120px;
  z-index: -1;
  transition: all 1s;
}

.feature-area .feature-item:hover:before {
  height: 100%;
  width: 100%;
  bottom: 20px;
  right: 20px;
  border-radius: 0;
  transition: all 1s;
}

.feature-area .feature-item:hover .icon {
  background-color: var(--primary-color);
  transition: all 1.5s;
}

.feature-area .icon {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: var(--Secondary-color);
  position: relative;
  z-index: 1;
}

.feature-area .icon::before {
  content: "";
  position: absolute;
  inset: -5px;
  border: 2px dashed var(--white);
  border-radius: 50px;
}

.feature-area .icon:hover::before {
  transform: scale(1);
}

.feature-area .feature-item h2 {
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Ubuntu Sans", sans-serif;
}

.feature-area .feature-item p {
  font-size: 16px;
  color: var(--white);
  margin-bottom: 20px;
  font-weight: 400;
}

/* ====== feature-area-end ====== */

/* ==== about-section-start ==== */

.about-section {
  padding: 45px 0px;
  background-color: var(--bg-color);
}

.about-section .about-content span {
  font-size: 18px;
  color: var(--Secondary-color);
  font-weight: 600;
}

.about-section .about-content h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.about-section .about-content h2 span {
  color: var(--Secondary-color);
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.about-section .about-content p {
  font-size: 16px;
  color: var(--dark);
  margin-bottom: 20px;
  font-weight: 400;
  text-align: justify;
}

.about-section .about-content .btn {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.about-section .about-content .btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--Secondary-color);
  border-radius: 5px;
  z-index: -1;
  transform: translateX(-101%);
  transition: ease-in-out 0.5s;
}

.about-section .about-content .btn:hover:before {
  color: var(--white);
  transition: ease-in-out 0.5s;
  transform: translateX(0);
}

.about-section .about-image {
  height: 100%;
  width: 100%;
  position: relative;
}

.about-section .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==== about-section-end ==== */

/* ====visa-type-section-start==== */
.visa-type-section {
  padding: 45px 0px;
}

.visa-type-section .section-title {
  text-align: center;
  margin-bottom: 45px;
}

.visa-type-section .section-title span {
  font-size: 18px;
  color: var(--Secondary-color);
  font-weight: 600;
}

.visa-type-section .section-title h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.visa-type-section .section-title h2 span {
  color: var(--Secondary-color);
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.visa-type-section .visa-type-item {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.visa-type-section .visa-type-item::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateY(-50%);
  background-color: var(--Secondary-color);
  z-index: -1;
  transition: all 1s;
}

.visa-type-section .visa-type-item:hover::before {
  background-color: var(--Secondary-color);
  transition: all 1s;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  transform: translateY(0);
}

.visa-type-section .visa-type-item:hover img {
  transform: scale(1.05);
  transition: all 1s;
}

.visa-type-section .visa-type-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  transition: 1s;
}

.visa-type-section .visa-type-item .icon {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: var(--Secondary-color);
  position: relative;
  z-index: 1;
}

.visa-type-section .visa-type-item .icon::before {
  content: "";
  position: absolute;
  inset: -5px;
  border: 2px dashed var(--white);
  border-radius: 50px;
}

.visa-type-section .visa-type-item .icon:hover::before {
  transform: scale(1);
}

.visa-type-section .visa-type-item h3,
.visa-type-section .visa-type-item a {
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Ubuntu Sans", sans-serif;
}

.visa-type-section .visa-type-item p {
  font-size: 16px;
  color: var(--white);
  margin-bottom: 20px;
  font-weight: 400;
}

/* ====visa-type-section-end==== */

/* ====how-it-works-section-start==== */

.how-it-works-section {
  padding: 45px 0px;
  background-color: var(--bg-color);
}
.how-it-works-section .section-title {
  text-align: center;
  margin-bottom: 45px;
}
.how-it-works-section .section-title span {
  font-size: 18px;
  color: var(--Secondary-color);
  font-weight: 600;
}
.how-it-works-section .section-title h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}
.how-it-works-section .section-title h2 span {
  color: var(--Secondary-color);
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}
.how-it-works-section .how-it-works-item {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1.5s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.how-it-works-section .how-it-works-item::before {
  content: "";
  position: absolute;
  background-color: var(--Secondary-color);
  left: 45%;
  height: 50px;
  width: 50px;
  bottom: -50%;
  z-index: -1;
  transition: all 1.5s;
}

.how-it-works-section .how-it-works-item:hover:before {
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 1.5s;
  bottom: 0;
}

/* .how-it-works-section .how-it-works-item:hover {
  background-color: var(--Secondary-color);
  transition: 1s;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
} */

.how-it-works-section .how-it-works-item .icon {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: var(--Secondary-color);
  position: relative;
  z-index: 1;
  transition: 1s;
}
.how-it-works-section .how-it-works-item .icon::before {
  content: "";
  position: absolute;
  inset: -5px;
  border: 2px dashed var(--white);
  border-radius: 50px;
  transition: 1s;
  z-index: -1;
}
.how-it-works-section .how-it-works-item .icon:hover::before {
  transform: scale(1);
  transition: 1s;
  color: var(--primary-color);
}

.how-it-works-section .how-it-works-item:hover .icon {
  background-color: var(--primary-color);
  transition: 1s;
}

.how-it-works-section .how-it-works-item h3 {
  font-size: 20px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Ubuntu Sans", sans-serif;
}

.how-it-works-section .how-it-works-item p {
  font-size: 16px;
  color: var(--white);
  margin-bottom: 20px;
  font-weight: 400;
}

.how-it-works-section .how-it-works-item span {
  position: absolute;
  font-weight: 800;
  right: -140px;
  font-size: 50px;
  line-height: 60px;
  color: var(--white);
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
}

/* ====how-it-works-section-end==== */

/* ===country-we-offer-section-start=== */
.country-we-offer-section {
  padding: 45px 0px;
}
.country-we-offer-section .section-title {
  text-align: center;
  margin-bottom: 45px;
}
.country-we-offer-section .section-title span {
  font-size: 18px;
  color: var(--Secondary-color);
  font-weight: 600;
}
.country-we-offer-section .section-title h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.country-we-offer-section .section-title h2 span {
  color: var(--Secondary-color);
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.country-we-offer-section .country-we-offer-item {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  color: var(--white);
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.country-we-offer-section .country-we-offer-item:hover {
  background-color: var(--Secondary-color);
  transition: 1s;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
}

.country-we-offer-section .country-we-offer-item img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  transition: 1s;
}

.country-we-offer-section .country-we-offer-item .icon {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: var(--Secondary-color);
  position: relative;
  z-index: 1;
}

.country-we-offer-section .country-we-offer-item .icon::before {
  content: "";
  position: absolute;
  inset: -5px;
  border: 2px dashed var(--white);
  border-radius: 50px;
}

.country-we-offer-section .country-we-offer-item .icon:hover::before {
  transform: scale(1);
  transition: 1s;
  color: var(--primary-color);
}

.country-we-offer-section .country-we-offer-item:hover .icon {
  background-color: var(--primary-color);
  transition: 1s;
}

.country-we-offer-section .country-we-offer-item h3,
.country-we-offer-section .country-we-offer-item a {
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Ubuntu Sans", sans-serif;
}

.country-we-offer-section .country-we-offer-item p {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
}

.country-we-offer-section .country-we-offer-item span {
  position: absolute;
  font-weight: 800;
  right: -140px;
  font-size: 60px;
  line-height: 60px;
  color: var(--white);
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
}

/* ===country-we-offer-section-end=== */

/*====why-choose-section-start=== */

.why-choose-section {
  background-color: var(--primary-color);
  overflow: hidden;
}

.why-choose-section .section-title span {
  font-size: 18px;
  color: var(--Secondary-color);
  font-weight: 600;
}

.why-choose-section .section-title h2 {
  font-size: 40px;
  color: var(--white);
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.why-choose-section .section-title h2 .color-text {
  color: var(--Secondary-color);
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.why-choose-section .why-choose-content {
  padding: 25px;
}

.why-choose-section .why-choose-image img,
.why-choose-section .why-choose-image {
  height: 100%;
  object-fit: cover;
}

.why-choose-section .why-choose-list h3 {
  font-size: 24px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Ubuntu Sans", sans-serif;
}

.why-choose-section .why-choose-list p {
  font-size: 16px;
  color: var(--white);
  margin-bottom: 20px;
  font-weight: 400;
}

/*====why-choose-section-end=== */

/* ====testimonial-section-start=== */
.testimonial-section {
  padding: 90px 0px;
  background-color: var(--bg-color);
}
.testimonial-section .section-title {
  text-align: center;
  margin-bottom: 45px;
}
.testimonial-section .section-title span {
  font-size: 18px;
  color: var(--Secondary-color);
  font-weight: 600;
}
.testimonial-section .section-title h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}
.testimonial-section .section-title h2 span {
  color: var(--Secondary-color);
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.testimonial-section .owl-carousel .owl-item {
  display: flex;
  align-items: stretch;
}

.testimonial-section .testimonial-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.testimonial-section .testimonial-item {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
}

.testimonial-section .testimonial-item:hover {
  background-color: var(--Secondary-color);
  transition: 1s;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
}

.testimonial-section .testimonial-item h3 {
  font-size: 20px;
  color: var(--white);
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Ubuntu Sans", sans-serif;
}

.testimonial-section .testimonial-item p i {
  font-size: 30px;
  margin: 0px 5px;
}

.testimonial-section .owl-dots {
  position: absolute;
  margin: auto;
  left: 50%;
  bottom: -70px;
  transform: translate(-50%, -50%);
}

.testimonial-section .owl-carousel button.owl-dot {
  color: inherit;
  height: 15px;
  width: 15px;
  border: 1px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 2px;
  font-size: 50px;
  line-height: 0;
  color: var(--white);
}

.testimonial-section .owl-carousel button.owl-dot.active {
  background-color: var(--Secondary-color);
  height: 15px;
  width: 30px;
  border-radius: 10px;
  transition: 0.5s;
}

/* ====testimonial-section-end=== */

/* ====funfact-section-start=== */

.funfact-section {
  padding: 75px 0px 45px 0px;
  background: url(../images/funfact-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  z-index: 1;
}
.funfact-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(2, 0, 37, 0.801);
  z-index: -1;
}

.funfact-section .funfact-item {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  transition: 1s;
}
.funfact-section .funfact-item:hover {
  background-color: var(--Secondary-color);
  transition: 1s;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
}
.funfact-section .funfact-item img {
  width: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  transition: 1s;
}
.funfact-section .funfact-item .icon {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 40px;
  margin-bottom: 20px;
  background-color: var(--Secondary-color);
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 25px;
}

.funfact-section .funfact-item .icon::before {
  content: "";
  position: absolute;
  inset: -5px;
  border: 2px dashed var(--white);
  border-radius: 50px;
}
.funfact-section .funfact-item .icon:hover::before {
  transform: scale(1);
  transition: 1s;
  color: var(--primary-color);
}
.funfact-section .funfact-item:hover .icon {
  background-color: var(--primary-color);
  transition: 1s;
}
.funfact-section .funfact-item h2 {
  font-size: 40px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Ubuntu Sans", sans-serif;
}
.funfact-section .funfact-item p {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  margin: 0;
}

/* ====funfact-section-end=== */

/* ====cta-section-start=== */

.cta-section {
  background: url(../images/slider-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  padding: 80px 0;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  margin: 60px 0;
  position: relative;
  z-index: 1;
}

.cta-section::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background-color: rgba(73, 0, 0, 0.678);
  z-index: -1;
}

.cta-section .cta-content h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Ubuntu Sans", sans-serif;
}

.cta-section .cta-content p {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
}

.cta-section .btn-cta {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 14px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s ease;
  display: inline-block;
  transition: ease-in-out 0.5s;
  margin: 0px 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.cta-section .btn-cta::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--Secondary-color);
  border-radius: 5px;
  z-index: -1;
  transform: translateX(-100%);
  transition: ease-in-out 0.5s;
}

.cta-section .btn-cta:hover:before {
  color: var(--white);
  transition: ease-in-out 0.5s;
  transform: translateX(0);
}

/* ====cta-section-end=== */

/*===footer-section-start ===*/

.footer-section {
  background: var(--primary-color);
  padding: 90px 0px 0px 0px;
  overflow: hidden;
}

.footer-section .coppany-logo img {
  width: 150px;
  margin-bottom: 20px;
}

.footer-section .footer-item {
  margin-bottom: 25px;
  padding: 0px 10px;
}

.footer-section .footer-item h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 25px;
}

.footer-section .footer-item .social-icon,
.footer-section .footer-item .services,
.footer-section .footer-item .contact,
.footer-section .footer-item .quick-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section .footer-item p {
  font-size: 16px;
  color: var(--white);
  font-weight: 300;
}

.footer-section .footer-item .social-icon {
  display: flex;
}

.footer-section .footer-item .social-icon li {
  margin-right: 10px;
  background-color: var(--white);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  line-height: 42px;
  border: 1px solid white;
  transition: ease-in-out 0.5s;
}

.footer-section .footer-item .social-icon li a {
  color: var(--Secondary-color);
  transition: 0.5s;
}

.footer-section .footer-item .social-icon li:hover {
  background-color: var(--primary-color);
  transition: ease-in-out 0.5s;
  transform: translateY(-6px);
}

.footer-section .footer-item .social-icon li:hover a {
  color: var(--white);
  transition: ease-in-out 0.2s;
}

.footer-section .footer-item .services li,
.footer-section .footer-item .contact-link li,
.footer-section .footer-item .quick-links li {
  margin-bottom: 10px;
  transition: 0.5s;
}

.footer-section .footer-item .services li:hover,
.footer-section .footer-item .contact-link li:hover,
.footer-section .footer-item .quick-links li:hover {
  margin-left: 5px;
  transition: 0.5s;
}

.footer-section .footer-item .services li a,
.footer-section .footer-item .contact-link li a,
.footer-section .footer-item .quick-links li a {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.footer-section .footer-item .services li a i,
.footer-section .footer-item .quick-links li a i {
  margin-right: 5px;
  color: var(--white);
  font-size: 14px;
}

.footer-section .footer-item .contact-link li i {
  font-size: 18px;
  color: var(--white);
  margin-right: 5px;
}

.footer-section .copy-right {
  margin-top: 50px;
  text-align: center;
  position: relative;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0px;
}

.footer-section .copy-right p {
  font-size: 16px;
  color: var(--dark);
  margin: 0;
}

.footer-section .top-button .top {
  background-color: var(--Secondary-color);
  color: var(--white);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 5px;
  right: 0.6em;
  bottom: 0.2em;
  position: fixed;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  z-index: 9999;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.footer-section .call-button .call {
  background-color: var(--Secondary-color);
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  right: 0.8em;
  bottom: 5em;
  position: fixed;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  z-index: 9999;
  margin-bottom: 10px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-section .whatsapp-button .whatsapp {
  background-color: #25d366;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  right: 0.8em;
  bottom: 8em;
  position: fixed;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  z-index: 9999;
  margin-bottom: 10px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*===footer-section-end===*/

/*===breadcrumb-section-start===*/

.site-breadcrumb {
  background: url(../images/slider-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
}

.site-breadcrumb::before {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(0, 10, 22, 0.7);
  content: "";
}

.site-breadcrumb .breadcrumb-title {
  font-size: 40px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-breadcrumb .breadcrumb-menu {
  position: relative;
  z-index: 1;
}

.site-breadcrumb .breadcrumb-menu li {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  color: var(--white);
  font-weight: 400;
  text-transform: capitalize;
}

.site-breadcrumb .breadcrumb-menu li a {
  color: var(--white);
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.site-breadcrumb .breadcrumb-menu li.active {
  color: var(--Secondary-color);
}

.site-breadcrumb .breadcrumb-menu li::before {
  position: absolute;
  content: "\f101"; /* Angle Right */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  right: -21px;
  top: 1px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.site-breadcrumb .breadcrumb-menu li:first-child {
  margin-left: 0;
}

.site-breadcrumb .breadcrumb-menu li:last-child:before {
  display: none;
}

.site-breadcrumb .breadcrumb-menu li a:hover {
  color: #ef4d45;
}

/*===breadcrumb-section-end===*/

/* ==== Business Visa Section start ==== */

.business-visa-section {
  padding: 90px 0px;
  background-color: var(--bg-color);
}

.business-visa-section .section-title {
  margin-bottom: 45px;
  text-align: center;
}

.business-visa-section .section-title h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.business-visa-section .section-title p {
  font-size: 18px;
  color: var(--dark);
  max-width: 600px;
  margin: auto;
}

.business-visa-section h3 {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-weight: 600;
}

.business-visa-section p,
.business-visa-section ul {
  font-size: 16px;
  color: #333;
  line-height: 1.7;
}

.business-visa-section ul {
  padding-left: 20px;
  list-style-type: disc;
}

.business-visa-section ul li {
  margin-bottom: 10px;
}

.business-visa-section .business-visa {
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
}

.business-visa-section .conatact-btn {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  margin: 0px 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.business-visa-section .conatact-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--Secondary-color);
  border-radius: 5px;
  z-index: -1;
  transform: translateX(-100%);
  transition: ease-in-out 0.5s;
}

.business-visa-section .conatact-btn:hover:before {
  color: var(--white);
  transition: ease-in-out 0.5s;
  transform: translateX(0);
}

/* ==== Business Visa Section end ==== */

/* ===student-visa-section-start=== */

.student-visa-section {
  padding: 90px 0px;
  background-color: var(--bg-color);
}

.student-visa-section .section-title {
  margin-bottom: 45px;
  text-align: center;
}

.student-visa-section .section-title h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Ubuntu Sans", sans-serif;
}

.student-visa-section .section-title p {
  font-size: 18px;
  color: var(--dark);
  max-width: 600px;
  margin: auto;
}

.student-visa-section h3 {
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-weight: 600;
}

.student-visa-section p,
.student-visa-section ul {
  font-size: 16px;
  color: #333;
  line-height: 1.7;
}

.student-visa-section ul {
  padding-left: 20px;
  list-style-type: disc;
}

.student-visa-section ul li {
  margin-bottom: 10px;
}

.student-visa-section .student-visa {
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
}

.student-visa-section .conatact-btn {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  margin: 0px 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.student-visa-section .conatact-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--Secondary-color);
  border-radius: 5px;
  z-index: -1;
  transform: translateX(-100%);
  transition: ease-in-out 0.5s;
}

.student-visa-section .conatact-btn:hover:before {
  color: var(--white);
  transition: ease-in-out 0.5s;
  transform: translateX(0);
}
